.home .banner-container {
  /* background-image: url(#banner-image); */
  background-image: url(../../../../assets/images/banner-1-dark.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.home .banner-logo-text {
  /* margin-left: 4rem; */
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5em;
}

.home .banner-logo-text #scissors,
.home .banner-logo-text #circle-stache {
  transition: transform 2s;
  transform-origin: center;
}

.home .banner-logo-text #stache {
  transition: 0.75s 2s;
  transform-origin: bottom;
}

.home .banner-logo-text #stache:hover {
  cursor: pointer;
}

/* .home .logo-wrapper.clicked #scissors {
  animation-name: rotate-scissors 2s finished;
}

.home .logo-wrapper.clicked #circle-stache {
  animation-name: rotate-circle-stache 2s finished;
}

.home .logo-wrapper.clicked #stache {
  animation-name: wiggle;
} */

@keyframes rotate-circle-stache {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(-360deg);
  }
}

@keyframes rotate-scissors {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes wiggle {
  0% {
    transform: rotate(0deg);
  }
  30% {
    transform: rotate(15deg);
  }
  70% {
    transform: rotate(-15deg);
  }
  100% {
    transform: rotate(0);
  }
}

.banner-container .welcome {
  font-family: "Cookie", cursive;
  color: #fff;
  text-align: left;
  max-width: 400px;
  margin-right: auto;
}

.banner-container .welcome-header {
  font-size: 5rem;
  margin: 0;
}

.banner-container .welcome-message {
  font-size: 2rem;
}

.banner-container .welcome button {
  display: block;
  margin: 0 auto;
  padding: 0.5rem 1rem;
  font-size: 2rem;
  font-family: "Moli", cursive;
  font-weight: bold;
  background-color: #c42121;
  color: #fff;
  border: 2.5px solid #1f1b1b;
  border-radius: 12px;
  /* box-shadow: 5 5 2px rgba(0, 0, 0); */
}


{
  #fff
  #eee
  #ddd
  #ccc
  #bbb
  #aaa
  #999
  #888
  #777
  #666
  #555
  #444
  #333
  #222
  #111
  #000
}