:root {
  --primary-color: #CF1717;
  --primary-color-dark: #791B1B
  --secondary-color: #231F1F;

}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Yanone Kaffeesatz", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
