.footer {
  color: #ddd;
  min-height: 75px;
  background-color: #1f1b1b;
  padding: 1.5em 2em 1em 2em;
}

.footer .container-1 {
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.footer .social-media-icons {
  display: flex;
  gap: 0.5em;
}
.footer svg {
  color: #c42121;
}
