.barbers-section {
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  height: 450px;
  font-family: "Yanone Kaffeesatz";
  color: #c42121;
  max-width: 900px;
  margin: 0 auto;
}

.barbers-section h2 {
  font-size: 2.5rem;
  letter-spacing: 2.75px;
}

.barbers {
  display: flex;
  gap: 1em;
}

.barbers h3 {
  font-size: 1.5rem;
  letter-spacing: 2px;
}

.barber {
  border: 1px solid #c42121;
  background-color: #1f1b1b;
}
