header {
  width: 100%;
  display: flex;
  align-items: center;
  background-color: #1f1b1b;
}

.header-logo {
  display: inline-flex;
  gap: 0.5em;
  align-items: center;
  margin: 0.5em;
}

.header-logo .text {
  padding-top: 0.25rem;
}

header .links {
  margin-left: auto;
  margin-right: 1em;
  display: flex;
  gap: 2em;
  font-size: 1.5rem;
  display: inline-flex;
  align-items: center;
}

header .links a {
  color: #c42121;
  text-decoration: none;
  font-family: "Yanone Kaffeesatz", sans-serif;
  font-weight: bold;
  letter-spacing: 0.2px;
}

.cart-icon {
  color: #c42121;
  /* height: 1.5rem; */
  /* height: 1.5rem; */
}
